body, ul {
    margin: 0;
    padding: 0;

}
body {
    /* background-image: url('loginbg3.jpg'); */
    /* background-size: cover; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    opacity: 0.8;
}

/* Header styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: rgba(255, 255, 255, 0.2); Transparent background */
    /* backdrop-filter: blur(10px); */

    h1 {
        text-align: right; /* Align the heading to the right */
    }
}


/* Style the form container */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 300px;
}


/* Style the form headings */
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Style the labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style the input fields */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style radio buttons and checkboxes */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the select dropdown */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    padding-right: 20px;
    background: url("dropdown-arrow.png") no-repeat right center;
    background-size: 15px;
}



/* Example media query for smaller screens */
@media (max-width: 600px) {
    form {
        width: 100%;
    }
}

.logo img {
    max-height: 80px;
    max-width: 80px;
}

.hotel-name {
    color: #fff; 
    font-size: 20px;
}

/* Navigation styling */
nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    width: 25%;
    background-color: rgba(255, 255, 255, 0.2); 
    /* backdrop-filter: blur(10px);  */
    padding: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-button {
    display: block;
    color: #fff; 
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #2B1605 ;

    text-align: center;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

button#deluxeButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2B1605;
    color: #fff;
    border: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #DEC09C;
    color: #fff;
    border: none;
    cursor: pointer;
}

.room-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .room-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .room-label {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #2B1605;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin: 5px;
  }
  
  .room-radio:hover + label,
        label:hover {
            background-color: #2B1605; /* Change background color on hover */
            color: #fff; /* Change text color on hover */
            cursor: pointer; /* Change cursor to a pointer on hover */
        }

  .room-radio {
    display: none;
  }

.room-radio:checked + .room-label {
    background-color: #DEC09C;
    color: #fff;
}

/* Add these styles to your styles.css file */
#businessButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2B1605;
    color: #fff;
    border: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#luxuryButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2B1605;
    color: #fff;
    border: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#businessButton:hover {
    background-color: #DEC09C; /* Change the background color on hover */
}

#luxuryButton:hover {
    background-color: #DEC09C; /* Change the background color on hover */
}

#deluxeButton:hover {
    background-color: #DEC09C; /* Change the background color on hover */
}

main {

    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2); 
    /* backdrop-filter: blur(10px);  */
    
}

